.logo {
    background-size: contain;
    margin: 1.4em 0 1.4em 1.4em;
    width: 2em;
    position: relative;
  }
  
  

  @media only screen and (min-width: 900px) {

    .logo {
      background-size: contain;
      width: 10em;
      height: auto;
      margin: 0;
      background-position: center;
    }
  }
}
  
 