.logo {
    background-size: contain;
    margin: 1em 0 1em 1em;
    width: 6em;
    position: relative;
  }
  .container-header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 1fr 1fr;
  }
  .header-logo{
    background-color: green;
    grid-row-start: 1;
   grid-row-end: 1;
    grid-column-start: 1;
   grid-column-end: 2;
  }
  .header-join-now{
    background-color: pink;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .header-sign-in{
    background-color: blue;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .container-menu {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr;
    /* padding: 2em; */
    margin: 1em;
  }
  .menu-upl-res{
    background-color: violet;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .menu-post-job{
    background-color: pink;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .menu-career-act{
    background-color: coral;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .menu-resume-help{
    background-color: rgb(207, 52, 47);
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .menu-language{
    background-color: rgb(175, 50, 148);
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 6;
    grid-column-end: 7;
  }
  
  

  @media only screen and (min-width: 900px) {

    .logo {
      background-size: contain;
      width: 10em;
      height: auto;
      margin: 0;
      background-position: center;
    }
    .container-header {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 7fr 1fr 1fr;
    }
    .header-logo{
      background-color: green;
      grid-row-start: 1;
     grid-row-end: 1;
      grid-column-start: 1;
     grid-column-end: 2;
    }
    .header-join-now{
      background-color: pink;
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .header-sign-in{
      background-color: blue;
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 3;
      grid-column-end: 4;
    }
    .container-menu {
      background-color: gray;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr;
       /* padding: 2em;  */
    }
    .menu-upl-res{
      background-color: violet;
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      margin: 1em;
    }
    .menu-post-job{
      background-color: pink;
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
      margin: 1em;
    }
    .menu-career-act{
      background-color: coral;
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 3;
      grid-column-end: 4;
      margin: 1em;
    }
    .menu-resume-help{
      background-color: rgb(207, 52, 47);
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 4;
      grid-column-end: 5;
      margin: 1em;
    }
    .menu-language{
      background-color: rgb(175, 50, 148);
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 6;
      grid-column-end: 7;
      margin: 1em;
    }
    .container-body{
      background-color: #8ac6d1;
      /* height: 161em; */
      display: grid;
      grid-template-rows: 2fr 2fr 2fr 2fr;
      grid-template-columns: 1fr;
      margin: 2em;
      padding: 1em;
      grid-gap: 1em;
    }
    .body-search-tag{
      background-color: rgb(175, 50, 148);
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .body-pop-search{
      background-color: lawngreen;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .body-reviews{
      background-color: rgb(218, 221, 28);
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .body-top-hiring{
      background-color: crimson;
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .container-section-one {
      display: grid;
      /* height: 15em; */
      grid-template-rows: 1fr;
      grid-template-columns: 1.5fr 2fr 2fr;
      padding: 1em;
      grid-gap: 1em;
    }
    .quotes-section{
      background-color: crimson;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .search-section{
      background-color: coral;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .image-section{
      background-color: aqua;
      grid-column-start: 3;
      grid-column-end: 4;
    }
    .search-container{
      background-color: brown;
      display: grid;
      height: 15em;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      padding: 1em;
      grid-gap: 1em;
    }
    .search-title{
      background-color: rgb(218, 221, 28);
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 3;
      padding: 1em;
      margin: 0.5em;
      text-align: center;
    }
    .search-loc{
      background-color: azure;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;
      padding: 1em;
      margin: 0.5em;
      text-align: center;
    }
    .search-button{
      background-color: pink;
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 3;
      padding: 1em;
      margin: 0.5em;
    }
    .container-section-three{
      display: grid;
      /* height: 15em; */
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 1em;
      grid-gap: 1em;
    }
    .review-title{
      background-color: pink;
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 6;
      justify-self: center;
    }
    .review-post-one{
      background-color: brown;
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2; 
    }
    .review-post-two{
      background-color: brown;
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3; 
    }
    .review-post-three{
      background-color: brown;
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: 3;
      grid-column-end: 4; 
    }
    .container-section-four{
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      padding: 1em;
      grid-gap: 1em;
    }
    .top-hiring-title{
      background-color: navy;
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 2;
      justify-self: center;
    }
    .companies-flex{
      background-color: orangered;
      display: flex;
      flex-direction: row;
      flex-shrink: 2;
      justify-content: center;
    }
    .container-footer{
      background-color: orchid;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1em; 
    }
    .follow-us-section{
      background-color: rebeccapurple;
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .get-app-section{
      background-color: red;
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 3;
      grid-column-end: 4;
    }
    .menu-section{
      background-color: salmon;
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .follow-us-title{
      padding: 1.5em;
    }
    .social-media-flex{
      background-color: orangered;
      display: flex;
      flex-direction: row;
      flex-shrink: 2;
      justify-content: center;
    }
    .social-media-logo{
      background-size: contain;
      width: 3em;
      height: 3em;
      margin: 0;
      background-position: center;
    }
    .download-app-title{
      padding: 1.5em;
    }
    .download-app-flex{
      background-color: orangered;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .download-google-logo{
      background-size: contain;
      width: auto;
      height: 6em;
      /* margin-bottom: 6em; */
    }
    .download-apple-logo{
      background-size: contain;
      width: auto;
      height: 6em;
      /* margin-bottom: 6em; */
    }
   .menu-list{
     display: inline;
     margin-inline-start: 6em;
     justify-content: space-evenly;
     text-align: center;
   }
    .input-container{
      display: flex;
      width: 15em;
      margin-bottom: 1em;
    }
    .icon {
      padding: 10px;
      background: dodgerblue;
      color: white;
      min-width: 50px;
      text-align: center;
    }
    .input-field {
      width: 100%;
      padding: 1em;
      outline: none;
    }
    .btn {
      background-color: dodgerblue;
      color: white;
      padding: 1em;
      border: none;
      cursor: pointer;
      width: 10em;
      opacity: 0.9;
      text-decoration: none;
    }
    
    .btn:hover {
      opacity: 1;
    }
    .company-logo{
      background-size: contain;
      width: 8em;
      height: 8em;
      margin: 0;
      background-position: center;

    }
  }
}
  
 