.logo {
  background-size: contain;
  width: 10em;
  height: auto;
  margin: 0;
  background-position: center;
}
.container-header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #ffb6b9;
}
.sign-in{
  border-radius: 25px;
  border: 0.1em solid #0f4c75;
  padding: 1em;
  margin:0.5em;
  width: 7em;
  height: 3em;
  margin-top: 1.3em;
  cursor: pointer;
  background-color: #ffb6b9e7;
}
.join-now{
  border: 0em;
  padding: 1em;
  margin:0.5em;
  width: 7em;
  height: 3em;
  margin-top: 1.3em;
  background-color: #ffb6b9e7; 
  color: black;
  cursor: pointer;
}
.container-menu {
  background-color: #fae3d9;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr;
}
.menu-pane{
  border: 0em;
  width:auto;
  height: auto;
  background-color: #fae3d9; 
  color: black;
  cursor: pointer;
  margin: 0.1em;
}
.container-body{
  background-color: #B9EDF8;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  padding: 1em;
  grid-gap: 1em;
}
.container-section-one {
  background-color: pink;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  padding: 1em;
  grid-gap: 1em;
}
.quotes{
  color: #0f4c75;
  font-size: 1.5em;
  padding-bottom: 0.5em;
}
.input-container{
  display: flex;
  flex-direction: column;
}
.input-field{
  background-size: auto 1.5em;
  background-repeat: no-repeat;
  background-position: 0.5em center;
  padding-left: 3em;
  flex-grow: 1;
  border-radius: 0.5em;
  line-height: 2em;
}
.job{
  background-image: url(../image/search-icon.svg);
}
.loc{
  background-image: url(../image/location-logo.svg);
}
.button-container{
  display: flex;
  border-radius: 0.5em;
  flex-grow: 0.3x;
}
.btn{
  background-color: #1F8AFF;
  justify-content: center; 
  font-family: serif;
  font-weight: 100;
  font-size: 1.2em;
}
.container-section-two {
  background-color: pink; 
  display: grid;
  height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 1em;
} 
.popular-button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}
.pop{
  background-color: #5ec0c0;
  font-family: serif;
  font-weight: 100;
  font-size: 1.3em;
  border-radius: 1.5em;
  box-sizing: border-box;
  border: 0;
  padding: 0.5em;
  box-shadow: 0.1em 0.2em #E7475E;
} 
 .container-box{
  width:10em;
  /* margin: 0; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  /* box-sizing: border-box; */
}
.container-box .box{
  position: relative;
  height: 12em;
  transition: 0.5s;
  text-align: center;
  background: #fae3d9; 
}
 .container-box .box:hover{
  background: #0f4c75;
}
 .container-box .box p {
  padding: 0;
  transition: 0.5s;
  color: #0f4c75;
  font-weight:600;
  font-size: 1em;
} 
.container-box .box h4{
  color: #ff0057;
  margin: 2.5em 0 0;
  padding: 0;
  transition: 0.5s;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
}
.container-box .box h6{
  color: #ff0057;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
}
 .container-box .box:hover p,
.container-box .box:hover h4,
.container-box .box:hover h6 {
  color: #fff;
}
.container-box .box .imagebox {
  position: absolute;
  top: -50px;
  left: 40%;
  transform: translateX(-50%, -50%);
  width:80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.container-box .box::before
{
  content:'';
  position: absolute;
  top: 0.5em;
  /* right: 1em; */
  width: 1em;
  height:1em;
  background: url(../image/quote-logo.svg);
  background-size: cover;
  opacity:0.05;
  pointer-events: none;
  transition: 0.5s;
} 
.container-box .box:hover:before
{
  transform: translateY(-1em);
  opacity: 1;
}
.container-box .box::after
{
  content:'';
  position: absolute;
  bottom: 0.5em;
  left: 1em;
  width: 1em;
  height:1em;
  background: url(../image/quote-logo.svg);
  background-size: cover;
  opacity:0.05;
  pointer-events: none;
  transition: 0.5s;
  transform: rotate(180deg) translateY(0em);
} 
.container-box .box:hover:after
{
  transform: rotate(180deg) translateY(-1em);
  opacity: 1;
}
.container-footer{
  background-color: #a1d4e2;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em; 
}
.follow-us-section{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: left;  
}
.get-app-section{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: right;
}
.social-media-logo{
  background-size: contain;
  max-width: 1em;
  max-height: 1em;
  margin: 0;
  background-position: left;
  margin-top: 1em;
}
.download-google-logo{
  background-size: contain;
  width: auto;
  height: 3em;
  margin-bottom: 1em;
}
.download-apple-logo{
  background-size: contain;
  width: auto;
  height: 3em;
  margin-bottom: 1em; 
}
  @media only screen and (min-width: 760px) {

    .logo {
      background-size: contain;
      width: 10em;
      height: auto;
      margin: 0;
      background-position: center;
    }
    .container-header {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 7fr 1fr 1fr;
      background-color: #ffb6b9;
    }
    .header-logo{
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .header-join-now{
      /* background-color: pink; */
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 2;
      grid-column-end: 3;
      justify-self: center;
      padding-top: 2em;
    }
    .header-sign-in{
      /* background-color: blue; */
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: center;
      padding-top: 2em;
    } 
    .sign-in{
      border-radius: 25px;
      border: 0.1em solid #0f4c75;
      padding: 1em;
      margin:0.5em;
      width: 7em;
      height: 3em;
      margin-top: 1.3em;
      cursor: pointer;
      background-color: #ffb6b9e7;
    }
    .join-now{
      border: 0em;
      padding: 1em;
      margin:0.5em;
      width: 7em;
      height: 3em;
      margin-top: 1.3em;
      background-color: #ffb6b9e7; 
      color: black;
      cursor: pointer;
    }
    .container-menu {
      background-color: #fae3d9;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr;
       /* padding: 2em;  */
    }
    .menu-pane{
      border: 0em;
      width:auto;
      height: auto;
      background-color: #fae3d9; 
      color: black;
      cursor: pointer;
    }
    .menu-upl-res{
      /* background-color: violet; */
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      margin: 1em;
    }
    .menu-post-job{
      /* background-color: pink; */
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
      margin: 1em;
    }
    .menu-career-act{
      /* background-color: coral; */
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 3;
      grid-column-end: 4;
      margin: 1em;
    }
    .menu-resume-help{
      /* background-color: rgb(207, 52, 47); */
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 4;
      grid-column-end: 5;
      margin: 1em;
    }
    .menu-language{
      /* background-color: rgb(175, 50, 148); */
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 6;
      grid-column-end: 7;
      margin: 1em;
    }
    .container-body{
      background-color: #B9EDF8;
      /* height: 161em; */
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      margin: 2em;
      padding: 1em;
      grid-gap: 1em;
    }
    .body-search-tag{
      /* background-color: #ffb6b9;  */
      /* background-color: crimson; */
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .body-pop-search{
       /* background-color: lawngreen;  */
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .body-reviews{
      /* background-color: rgb(218, 221, 28); */
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .body-top-hiring{
      /* background-color: crimson;  */
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .container-section-one {
      /* background-color: pink; */
      display: grid;
      /* height: auto; */
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      padding: 1em;
      grid-gap: 1em;
    }
    .quotes-search-section{
      /* background-color: coral; */
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .image-section{
      /* background-color: aqua; */
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .container-quotes-search{
      display: grid;
      height: 5em;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      padding: 1em;
      grid-gap: 1em;
    }
    .quotes-section{
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .quotes{
      margin: 0.5em;
      color: #0f4c75;
    }
    .search-section{
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .search-container{
      /* background-color: brown; */
      display: grid;
      height: 5em; 
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: repeat(3, 1fr);
      padding: 1em;
      grid-gap: 1em;
    }
    .input-container{
      display: flex;
    }
    .input-field{
      background-size: auto 1.5em;
      background-repeat: no-repeat;
      background-position: 0.5em center;
      padding-left: 3em;
      flex-grow: 1;
      border-radius: 0.5em;
      line-height: 3em;
    }
    .job{
      background-image: url(../image/search-icon.svg);
    }
    .loc{
      background-image: url(../image/location-logo.svg);
    }
    .button-container{
      display: flex;
      border-radius: 0.5em;
      flex-grow: 0.3;
    }
    .btn{
      background-color: #1F8AFF;
      justify-content: center; 
      font-family: serif;
      font-weight: 100;
      font-size: 1.3em;
    }
    .container-section-two {
     /* background-color: pink; */
      display: grid;
      /* height: auto; */
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      padding: 7em;
      grid-gap: 1em;
    }
    /* .popular-section{
      display: flex;
      justify-content: center;
      align-items: center;
      background:crimson;
    } */
    .popular-button{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
     .pop{
      background-color: #5ec0c0;
      font-family: serif;
      font-weight: 100;
      flex-grow: 1;
      font-size: 1.3em;
      border-radius: 1.5em;
      border: 0;
      padding: 0.5em;
      box-shadow: 0.1em 0.2em #E7475E;
    } 
    .container-section-three{
      /* background-color:navy; */
      display: grid;
      /* height: 15em; */
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      padding: 1em;
      grid-gap: 1em;
    }
    .review-title{
      /* background-color: pink; */
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 6;
      justify-self: center;
    }
    .container-review{
      display: flex;
      justify-content: center;
      align-items: center;
      /* min-height: 100vh; */
      background: #f5f5f5;
     }
     .container-box{
      width:1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      box-sizing: border-box;
      padding:20px;
    }
    .container-box .box{
      position: relative;
      padding: 5em 4em;
      transition: 0.5s;
      text-align: center;
      background: #fae3d9; 
    }
     .container-box .box:hover{
      background: #0f4c75;
    }
     .container-box .box p {
      margin: 1em;
      padding: 0;
      transition: 0.5s;
      color: #0f4c75;
      font-weight:600;
      font-size: 1em;
    } 
    .container-box .box h4{
      color: #ff0057;
      margin: 20px 0 0;
      padding: 0;
      transition: 0.5s;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      text-transform: capitalize;
    }
    .container-box .box h6{
      color: #ff0057;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-transform: capitalize;
    }
     .container-box .box:hover p,
    .container-box .box:hover h4,
    .container-box .box:hover h6 {
      color: #fff;
    }
    .container-box .box .imagebox {
      position: absolute;
      top: -50px;
      left: 40%;
      transform: translateX(-50%, -50%);
      width:120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
    }
    .container-box .box::before
    {
      content:'';
      position: absolute;
      top: 0.5em;
      right: 1em;
      width: 80px;
      height:80px;
      background: url(../image/quote-logo.svg);
      background-size: cover;
      opacity:0.05;
      pointer-events: none;
      transition: 0.5s;
    } 
    .container-box .box:hover:before
    {
      transform: translateY(-50px);
      opacity: 1;
    }
    .container-box .box::after
    {
      content:'';
      position: absolute;
      bottom: 0.5em;
      left: 1em;
      width: 80px;
      height:80px;
      background: url(../image/quote-logo.svg);
      background-size: cover;
      opacity:0.05;
      pointer-events: none;
      transition: 0.5s;
      transform: rotate(180deg) translateY(0em);
    } 
    .container-box .box:hover:after
    {
      transform: rotate(180deg) translateY(-3.1em);
      opacity: 1;
    }
    .container-section-four{
       /* background-color: coral;  */
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      padding: 1em;
      grid-gap: 1em;
    }
    .top-hiring-title{
      /* background-color: navy;  */
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 2;
      justify-self: center;
      padding: 2em;
      color: #0f4c75;
    }
    .companies-flex{
      /* background-color: orangered;  */
      display: flex;
      flex-direction: row;
      /* flex-shrink: 1; */
      justify-content: center;
    }
    .hiring-company-logo{
      background-size: contain;
      max-width: 8em;
      max-height: 8em;
      margin: 0;
      background-position: center;
    }
    .container-footer{
      background-color: #a1d4e2;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1em; 
    }
    .follow-us-section{
      /* background-color: rebeccapurple; */
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 2;
      justify-self: center;
    }
    .get-app-section{
      /* background-color: red;*/
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: center;
    }
    .get-app{
      justify-content: center;
    }
    .menu-section{
      background-color: #1F6ED4;
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .follow-us-title{
      padding: 1.5em;
    }
    .social-media-flex{
      /* background-color: orangered; */
      display: flex;
      flex-direction: row;
      justify-items: left;
      padding: 1em;
    }
    .social-media-logo{
      background-size: contain;
      max-width: 3em;
      max-height: 3em;
      margin: 0;
      background-position: left;
    }
    .download-app-title{
      padding: 1.5em;
    }
    .download-app-flex{
      /* background-color: orangered; */
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1em;
    }
    .download-google-logo{
      background-size: contain;
      width: auto;
      height: 8em;
      /* margin-bottom: 1em; */
    }
    .download-apple-logo{
      background-size: contain;
      width: auto;
      height: 8em;
      /* margin-bottom: 1em; */
    }
   .menu-list{
     display: inline;
     margin-inline-start: 6em;
     justify-content: space-evenly;
     text-align: center;
    }
    .container-footer{
     background-color: #a1d4e2;
     display: grid;
     grid-template-rows: 1fr;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 1em; 
    }
    .follow-us-section{
    /* background-color: rebeccapurple; */
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 2;
      justify-self: center;
    }
    .get-app-section{
    /* background-color: red;*/
     grid-row-start: 1;
     grid-row-end: 1;
     grid-column-start: 3;
     grid-column-end: 4;
     justify-self: center;
    }
    .get-app{
     justify-content: center;
    }
    .menu-section{
     background-color: #2F8299;
     grid-row-start: 1;
     grid-row-end: 1;
     grid-column-start: 1;
     grid-column-end: 4;
    }
    .follow-us-title{
      padding: 1.5em;
    }
    .social-media-flex{
      /* background-color: orangered; */
      display: flex;
      flex-direction: row;
      justify-items: left;
    }
    .social-media-logo{
      background-size: contain;
      width: 3em;
      height: 3em;
      margin: 0;
      background-position: left;
    }
    .download-app-title{
      padding: 1.5em;
    }
    .download-app-flex{
      /* background-color: orangered; */
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .download-google-logo{
      background-size: contain;
      width: auto;
      height: 8em;
      /* margin-bottom: 1em; */
    }
    .download-apple-logo{
      background-size: contain;
      width: auto;
      height: 8em;
      /* margin-bottom: 1em; */
    }
    .menu-list{
      display: inline;
      margin-inline-start: 6em;
      justify-content: space-evenly;
      text-align: center;
    }
  }
