.container-filter {
  background-color: #fae3d9;
  display: flex;
  justify-content: space-around;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 1em;  
}
.container-post-body {
  background-color: #8ac6d1;
  height: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  margin: 1em;
  padding: 1em;
  grid-gap: 1em; 
}
.container-job {
  background-color: #fafbfd;
  display: grid;
  height: 20em;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 8fr;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0em;
  padding-bottom: 1em;
}
.company-logo {
  grid-row-start: 1;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 2;
}
.company-post {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.company-name {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}
.company-loc {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
}
.post-brief {
  grid-row-start: 6;
  grid-row-end: 10;
  grid-column-start: 2;
  grid-column-end: 3;
}
.post-time {
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start: 2;
  grid-column-end: 3;
}
.company-post-design{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}
.company-logo-design{
  background-size: contain;
  width: 5em;
  height: 5em;
  margin: 0;
  background-position: center;
  cursor: pointer;
}
  @media only screen and (min-width: 900px) { 
    .container-post-body {
      background-color: #8ac6d1;
      height: 161em;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      margin: 2em;
      padding: 1em;
      grid-gap: 1em; 
    }
    .post-one {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 6;
    }  
    .post-two {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 6;
    }
    .post-three {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 6;
    }
    .post-four {
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 6;
    }
    .post-five {
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-start: 1;
      grid-column-end: 6;
    }
    .post-six {
      grid-row-start: 6;
      grid-row-end: 7;
      grid-column-start: 1;
      grid-column-end: 6; 
    }
    .post-seven {
      grid-row-start: 7;
      grid-row-end: 8;
      grid-column-start: 1;
      grid-column-end: 6;
    }
    .post-eight {
      grid-row-start: 8;
      grid-row-end: 9;
      grid-column-start: 1;
      grid-column-end: 6;
    }
    .post-nine {
      grid-row-start: 9;
      grid-row-end: 10;
      grid-column-start: 1;
      grid-column-end: 6;
    }
    .post-ten {
      grid-row-start: 10;
      grid-row-end: 11;
      grid-column-start: 1;
      grid-column-end: 6;
    }
    .container-job {
      background-color: #fafbfd;
      display: grid;
      height: 15em;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 8fr;
      padding: 1em;
      grid-gap: .5em;
    }
    .company-logo {
      grid-row-start: 1;
      grid-row-end: 11;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .company-post {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .company-name {
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .company-loc {
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .post-brief {
      grid-row-start: 6;
      grid-row-end: 10;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .post-time {
      grid-row-start: 10;
      grid-row-end: 11;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .company-post-design{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.3rem;
    }
    .company-logo-design{
      background-size: contain;
      width: 5em;
      height: 5em;
      margin: 0;
      background-position: center;
      cursor: pointer;
    }
    .container-filter {
      background-color: #fae3d9;
      display: flex;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      margin: 1em;  
    }
    .date-filter,
    .experience-filter,
    .job-type-filter,
    .company-filter,
    .salary-filter
    {
      margin: 1em;
    }
  }  